#circle,
#circle_current {
    height: 60px;
    width: 60px;
    background-color: rgba(217, 217, 217, 0.5);
    font-size: 2.585rem;
    border-radius: 100px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

#rec,
#rec_finish,
#rec_finished {
    height: 4px;
    width: 110px;
    background-color: rgba(217, 217, 217, 0.5);

}

#rec_finished {
    background: linear-gradient(to right, rgba(0, 3, 18, 0.5));
}

#rec_finish {
    background: linear-gradient(to right, rgba(0, 3, 18, 0.5) 0%, rgba(20, 23, 84, 0.5) 50%, rgba(217, 217, 217, 0.5) 100%);
}

#circle_finish {
    height: 60px;
    width: 60px;
    background: linear-gradient(to right bottom, rgb(0, 3, 18) 0%, rgb(20, 23, 84) 50%, rgb(53, 112, 206) 100%);
    font-size: 2.585rem;
    border-radius: 100px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

#circle_current {
    box-shadow: 0px 0px 15px 10px rgb(77, 164, 164);
}

.DAT_ForgetPasswordComponent {
    border: 1px solid red;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_Title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: 600;
        border: 1px solid pink;
        width: 100%;
        height: 15%;
        background: linear-gradient(to right, rgb(255, 255, 255) 40%, rgb(91, 189, 176) 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_Body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border: 1px solid red;
        width: 100%;
        height: 100%;

        &_Border {
            overflow: hidden;
            border: 1px solid pink;
            height: 100%;
            width: 100%;

            &_Box {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                border: 1px solid purple;
                height: 100%;
                width: 300%;

                transform: translateX(calc(var(--step) * -100% / 3));
                transition: transform .5s ease;
            }
        }

        .Step1 {

            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            &_Chart {
                display: flex;
                width: 100%;
                height: 15%;

                align-items: center;
                justify-content: center;

            }

            &_Header {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 35px;
                height: 25%;
                gap: 7%;


                &_Title {

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: linear-gradient(to right, rgb(255, 255, 255) 40%, rgb(91, 189, 176) 60%);
                    font-size: 2.015rem;
                    font-weight: 600;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &_Suggest {

                    width: 40%;
                    text-align: center;
                    font-size: 1.010rem;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 0.4);
                }
            }

            &_Email {

                height: 70px;
                display: flex;
                justify-content: center;

                &_Input {

                    height: 55px;
                    border-radius: 35px;
                    position: relative;
                    overflow: hidden;
                    width: 50%;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;

                        border-radius: inherit;
                        padding: 3px;
                        background: linear-gradient(to right bottom, rgb(255, 255, 255) 0%, rgb(136, 255, 239) 100%);
                        /* MÀU GRADIENT */
                        -webkit-mask:
                            linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        z-index: 0;

                    }

                    input {
                        z-index: 1;
                        background-color: transparent;
                        background: linear-gradient(to right bottom, rgb(118, 255, 237, 0.3) 9%, rgb(255, 255, 255, 0.3) 35%, rgb(176, 207, 248, 0.4) 72%, rgb(9, 25, 47, 0.4) 100%);
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 100%;
                        padding-left: 20px;
                        position: relative;
                        color: rgb(255, 255, 255);

                        &::placeholder {
                            color: white;
                            font-weight: 200px;

                            opacity: 50%;
                        }
                    }
                }
            }

            &_End {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                height: 200px;
                gap: 15%;

                &_Choice {
                    color: rgb(255, 255, 255);
                    font-weight: 700;

                }

                a {
                    color: rgb(72, 148, 164);
                    border-bottom: 1px solid rgb(72, 148, 164);
                }

                button {
                    height: 35%;
                    width: 35%;
                    border-radius: 50px;
                    border: none;
                    background: linear-gradient(to right, rgb(136, 255, 239) 0%, rgb(150, 204, 254) 100%);
                    font-size: 1.285rem;
                    font-weight: 750;
                    color: rgb(4, 45, 140);
                    cursor: pointer;
                }
            }
        }

        .Step2 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            &_Chart {
                display: flex;
                width: 100%;
                height: 15%;

                align-items: center;
                justify-content: center;
            }

            &_Header {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 35px;
                height: 25%;
                gap: 7%;


                &_Title {

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: linear-gradient(to right, rgb(255, 255, 255) 40%, rgb(91, 189, 176) 60%);
                    font-size: 2.015rem;
                    font-weight: 600;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &_Suggest {

                    width: 55%;
                    text-align: center;
                    font-size: 1.010rem;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 0.4);
                }
            }

            &_Digit {

                display: flex;
                height: 70px;
                width: 100%;
                justify-content: center;

                &_Otp {
                    width: 60%;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: row;
                    gap: 15px;

                }

                input {
                    height: 100%;
                    width: 80%;
                    border-radius: 20px;
                    text-align: center;
                    border: 2px solid rgba(255, 255, 255, 0.5);
                    background-color: transparent;
                    outline: none;
                    color: rgb(255, 255, 255);
                    font-size: 2rem;
                }

            }

            &_End {
                display: flex;
                flex-direction: column;

                height: 50%;
                width: 100%;

                &_Resend {
                    display: flex;
                    width: 100%;

                    justify-content: center;
                    align-items: flex-end;
                    height: 25%;
                    font-weight: 700;
                    color: rgb(255, 255, 255);

                    a {
                        color: rgb(72, 148, 164);
                        text-decoration: none;
                    }
                }

                &_Button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35%;


                    button {
                        height: 70%;
                        width: 35%;
                        border-radius: 50px;
                        border: none;
                        background: linear-gradient(to right, rgb(136, 255, 239) 0%, rgb(150, 204, 254) 100%);
                        font-size: 1.400rem;
                        font-weight: 600;
                        color: rgb(4, 45, 140);
                        cursor: pointer;
                    }
                }

                &_Another {
                    display: flex;

                    height: 15%;
                    align-items: center;
                    justify-content: center;

                    span {
                        cursor: pointer;
                        font-weight: 600;
                        color: rgb(72, 148, 164);
                        border-bottom: 1px solid rgba(72, 148, 164, 0.8);
                    }
                }
            }
        }

        .Step3 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            &_Chart {
                display: flex;
                width: 100%;
                height: 15%;

                align-items: center;
                justify-content: center;
            }

            &_Header {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 35px;
                height: 25%;
                gap: 7%;


                &_Title {

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: linear-gradient(to right, rgb(255, 255, 255) 40%, rgb(91, 189, 176) 60%);
                    font-size: 2.015rem;
                    font-weight: 600;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &_Suggest {

                    width: 55%;
                    text-align: center;
                    font-size: 1.010rem;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 0.4);
                }
            }

            &_Body {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                border: 1px solid green;
                align-items: center;

                &_Password {
                    border: 1px solid orange;
                    width: 55%;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &_Border {
                        width: 100%;
                        height: 50%;
                        border-radius: 55px;
                        position: relative;
                        overflow: hidden;

                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;

                            border-radius: inherit;
                            padding: 3px;
                            background: linear-gradient(to right bottom, rgb(255, 255, 255) 0%, rgb(136, 255, 239) 100%);
                            /* MÀU GRADIENT */
                            -webkit-mask:
                                linear-gradient(#fff 0 0) content-box,
                                linear-gradient(#fff 0 0);
                            -webkit-mask-composite: xor;
                            mask-composite: exclude;
                            z-index: 0;

                        }


                        input {
                            z-index: 1;
                            background-color: transparent;
                            background: linear-gradient(to right bottom, rgb(118, 255, 237, 0.3) 9%, rgb(255, 255, 255, 0.3) 35%, rgb(176, 207, 248, 0.4) 72%, rgb(9, 25, 47, 0.4) 100%);
                            border: none;
                            outline: none;
                            width: 100%;
                            height: 100%;
                            padding-left: 20px;
                            position: relative;
                            color: rgb(255, 255, 255);

                            &::placeholder {
                                color: white;
                                font-weight: 200px;

                                opacity: 50%;
                            }
                        }

                    }
                }
            }
        }
    }
}