.DAT_Login {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    &_Header {
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 5px;
        margin-top: 5px;

        &_Greeting {
            color: rgb(255, 255, 255);
            font-size: 1.265rem;
        }

        &_Brand {
            background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(91, 189, 176) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 6rem;
            position: absolute;
            top: 15%;
        }
    }

    &_Body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 55%;
        position: relative;
        margin-top: 20px;

        &_Title {
            position: absolute;
            color: rgb(255, 255, 255);
            top: 15%;
            font-size: 1.585rem;
            font-weight: 500;
        }

        &_Username {
            border: 1px double transparent;
            position: absolute;
            top: 35%;
            height: 15%;
            width: 100%;
            border-radius: 50px;
            background: linear-gradient(to right top, rgb(255, 255, 255) 0%, rgb(136, 255, 239) 100%);
            display: flex;
            padding: 1px;

            &_Input {
                display: flex;
                border: none;

                width: 100%;
                background: linear-gradient(to right,
                        rgba(58, 111, 175, 0.8) 35%,
                        rgba(4, 45, 140, 0.9) 70%,
                        rgba(2, 18, 51, 1) 100%);
                border-radius: 50px;
                outline: none;


                input {
                    border-radius: 50px;
                    outline: none;
                    border: none;
                    width: 100%;
                    background: linear-gradient(to right bottom,
                            rgba(118, 255, 237, 30%) 9%,
                            rgba(255, 255, 255, 30%) 35%,
                            rgba(176, 207, 248, 40%) 72%,
                            rgba(9, 25, 47, 40%)100%);
                    backdrop-filter: blur(100px);
                    padding-left: 15px;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.721);
                        font-weight: 900;
                    }
                }

            }
        }

        &_Password {
            border: 1px double transparent;
            position: absolute;
            top: 60%;
            height: 15%;
            width: 100%;
            border-radius: 50px;
            background: linear-gradient(to right top, rgb(255, 255, 255) 0%, rgb(136, 255, 239) 100%);
            display: flex;
            padding: 1px;

            &_Input {
                display: flex;
                border: none;

                width: 100%;
                background: linear-gradient(to right,
                        rgba(58, 111, 175, 0.8) 35%,
                        rgba(4, 45, 140, 0.9) 70%,
                        rgba(2, 18, 51, 1) 100%);
                border-radius: 50px;
                outline: none;


                input {
                    border-radius: 50px;
                    outline: none;
                    border: none;
                    width: 100%;
                    background: linear-gradient(to right bottom,
                            rgba(118, 255, 237, 30%) 9%,
                            rgba(255, 255, 255, 30%) 35%,
                            rgba(176, 207, 248, 40%) 72%,
                            rgba(9, 25, 47, 40%)100%);
                    backdrop-filter: blur(100px);
                    padding-left: 15px;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.721);
                        font-weight: 900;
                    }
                }

            }
        }

        &_Foot {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 15%;


            &_Check {
                display: flex;

                align-items: center;
                padding-left: 20px;
                gap: 5px;

                input {
                    height: 15px;
                    width: 15px;
                }
            }

            &_Forget {
                display: flex;
                align-items: center;

                justify-content: end;
                padding-right: 20px;

                a {
                    color: rgb(255, 255, 255);
                    font-size: 0.785rem;
                }
            }
        }
    }

    &_Foot {

        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            font-size: 1.558rem;
            border-radius: 50px;
            border: none;
            height: 45%;
            color: rgb(10, 75, 173);
            font-weight: 600;
            width: 30%;
            background: linear-gradient(to right, rgb(136, 255, 239) 0%, rgb(150, 204, 254) 100%);
        }

        :hover {
            cursor: pointer;
        }
    }
}